/* Slider */
.slick-slider {
	position: relative;

	display: block;
	box-sizing: border-box;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.section1 .section1Title,
.section2 .section1Title {
	text-align: center;
}
.section2Content {
	margin-top: 10%;
	text-align: justify;
	margin-bottom: 10%;
}
.sectionContentSubTitle {
	font-family: sans-serif;
	color: rgba(68, 67, 67, 1);
	font-size: 14px;
	font-weight: 400;
}
.sectionContentTitle {
	font-family: sans-serif;
	color: rgba(146, 146, 146, 1);
	font-size: 18px;
	font-weight: 700;
}
.mainContent .section1 {
	display: block;
}
.section1 .sectionTitle,
.section2 .sectionTitle {
	font-family: "Montserrat", sans-serif;
	color: rgba(146, 146, 146, 1);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.section1 .sectionTitleRule,
.section2 .sectionTitleRule {
	margin: 0 3% 0 0;
	float: left;
	clear: both;
}
.section1 .sectionTitleRule2,
.section2 .sectionTitleRule2 {
	background-color: rgba(208, 207, 207, 1);
	height: 1px;
	padding: 0px;
}
.section2 .sectionContentSubTitle {
	font-family: sans-serif;
	color: rgba(68, 67, 67, 1);
	font-size: 14px;
	font-weight: 400;
}
.section2 .sectionContentTitle {
	font-family: sans-serif;
	color: rgba(146, 146, 146, 1);
	font-size: 18px;
	font-weight: 700;
}
.section2 .sectionContentSubTitle {
	font-family: sans-serif;
	color: rgba(68, 67, 67, 1);
	font-size: 14px;
	font-weight: 400;
}
.section2 .sectionContent {
	font-family: sans-serif;
	color: rgba(146, 146, 146, 1);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
}
.section2 .section2Content {
	margin-top: 10%;
	text-align: justify;
	margin-bottom: 10%;
}

.slick-list {
	position: relative;

	display: block;
	overflow: hidden;

	margin: 0;
	padding: 0;
}
.slick-list:focus {
	outline: none;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;

	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-track:before,
.slick-track:after {
	display: table;

	content: "";
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;

	height: 100%;
	min-height: 1px;
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-loading .slick-slide {
	visibility: hidden;
}
.slick-vertical .slick-slide {
	display: block;

	height: auto;

	border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
	display: none;
}
